.stories {
  background-color: rgb(80, 130, 5);
}
.stories > nav > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
     
  }
  .stories >nav h1{
    color:gold;
      text-align: center;
      
  }
  
  .stories> nav.navbar-stories >ul li {
    padding: 0.5rem;
   
    list-style-type: none;
    
  }

  .stories> nav.navbar-stories >ul > li >a{
    display: block;
    padding: 0.5rem 1rem;    
    text-decoration: none;
    font-weight: bold;
    background: gold;
    color: #1b5e20;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .stories> nav.navbar-stories >ul > li > a:hover {
    background: #1b5e20;
    color:gold;
    border: solid;
    border-color: gold;
    border-radius: 5%;
    font-weight: bold;  

  }
  
  .stories> nav.navbar-stories {
    justify-content: center;
  }

  .story-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-self:center;
  }
 