.stories {
  background-color: rgb(95, 154, 6);
  display: grid;
  grid-template-columns: auto auto;
 
  position: relative;
}

.category-info{
  position:relative;
  display:inline-block;
  height: 250px;
  width: 450px;
  overflow: hidden;
  margin:1rem;
  border: 2px solid gold;
  
}

.category-info:hover{
  box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.2),
  0 25px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}

/* 
#002f4b,#dc4225 
Convert HEX to RGBA - http://hex2rgba.devoth.com/
*/
.category-info::after{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(240, 234, 232, 0.05) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240, 234, 232, 0.05)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(240, 234, 232, 0.05) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(240, 234, 232, 0.05) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(240, 234, 232, 0.05) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(240, 234, 232, 0.05) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.category-info img{
  display:block;
  position: absolute;
  left: 0;
  top: 0; 
  padding:0;
}

.category-link{
    position: absolute;     
    text-decoration: none;
    font-weight: bold;
    font-size:larger;
    color: gold;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    left: 5rem;
    top: 5rem;    
    z-index: 100;
}

