nav {
    background-color: #193833;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

nav a, nav span {
    float: left;
    color: #66bb6a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    display: block;
}

/* Change the color of links on hover */

nav a:hover {
    background-color: #66bb6a;
    color: #193833;
}

/* Add a color to the active/current link */
nav a, #common {
    float: left;
}
nav a.active {
    background-color: #69f0ae;
    color: #193833;
}

.profile {
    float: right;
}

.logo { 
    background: url("../../images/logo.png") no-repeat; 
    width: 100px; 
    height: 100px; 
    display: block; 
    text-indent: -9999px;
    display:block
}
